* {
	cursor: none;
	background-color: #92a4a1;
}

.App {
	height: 100vh;
}

.container {
	display: flex;
	margin: 50px 70px;
}

.curseur {
	width: 20px;
	height: 20px;
	background-color: rgb(233, 237, 236, 0.6);
	border-radius: 50%;
	position: absolute;
	pointer-events: none;
}

.counters {
	border: blue 1px solid;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 250px;
	width: 400px;
}

.container-animation {
	overflow: hidden;
	display: flex;
	margin-top: 200px;
	transform: translateY(-50%);
}

.txt {
	white-space: nowrap;
	font-size: 200px;
	animation: scrollTxt 50s linear infinite;
}

@keyframes scrollTxt {
	0% {
		transform: translate(0%, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

.add-counter-button {
	border: none;
	width: 150px;
	height: 150px;
	background-color: rgb(111, 140, 136);
	border-radius: 50%;
	border: white 4px dashed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-counter-button:hover {
	transform: rotate(360deg);
	transition-property: transform;
	transition-duration: 5s;
	transition-timing-function: linear;
}

.button-counter-text {
	border: none;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(111, 140, 136);
	border-radius: 50%;
	border: white 1px dashed;
	transition-property: transform;
	transition-duration: 5s;
	transition-timing-function: linear;
}

.button-counter-text:hover {
	transform: rotate(-360deg);
}

/* .half-circle {
	width: 100px;
	height: 100px;
	border: 5px solid black;
	border-radius: 50%;
	border-bottom-color: royalblue;
	border-left-color: royalblue;
} */
